* {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

#loadScreen {
  background: #fff;
  opacity: 1;
  position: absolute;
  margin: 0 auto;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 1600px;
  height: 100vh; }

.loading {
  width: 100px;
  height: 100px;
  margin: 300px auto;
  margin: 40vh auto;
  border-top: 5px solid #27B8D1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: rot1 55s linear infinite;
          animation: rot1 55s linear infinite; }

@-webkit-keyframes rot1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(11360deg);
            transform: rotate(11360deg); } }

@keyframes rot1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(11360deg);
            transform: rotate(11360deg); } }

.contactForm {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 100;
  height: 350px;
  width: 350px;
  background-color: #FFF;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  display: none; }

.contactForm__header {
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  background-color: #5BA0D0;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0 15px; }

.contactForm__toggleBtn {
  float: right;
  width: 24px;
  height: 24px;
  margin-top: 8px;
  border: none;
  background: url(../img/down_arrow.png) no-repeat #5BA0D0;
  -webkit-background-size: cover;
          background-size: cover; }

.contactForm__toggleBtn:hover, .contactForm__toggleBtn:active {
  outline: none; }

.contactForm__input {
  margin: 25px 15px 0 15px;
  width: 320px;
  resize: none;
  border: none;
  border-bottom: 1px solid grey; }

.contactForm__input:focus {
  outline: none;
  border-bottom: 1px solid #5BA0D0; }

.contactForm__submitBtn {
  width: 320px;
  height: 45px;
  margin: 40px 15px 0 15px;
  background-color: #5BA0D0;
  border: none;
  color: #fff;
  font-weight: 600;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.contactForm__submitBtn:hover, .contactForm__submitBtn:active {
  outline: none; }

#contactBtn {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 99;
  width: 150px;
  height: 50px;
  border: none;
  background: url(../img/email-envelope-small.png) no-repeat #5BA0D0;
  background-position: 8px 6px;
  line-height: 52px;
  padding-left: 32px;
  color: #fff;
  -webkit-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
  font-weight: 600; }

#contactBtn:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75); }

#totopBtn {
  display: none;
  position: fixed;
  height: 35px;
  width: 35px;
  border: none;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  background: url(../img/Button_Up.png) no-repeat center center;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

#totopBtn:hover, #totopBtn:active {
  border: 2px solid #27B8D1;
  outline: none; }

#map {
  width: 100%;
  height: 300px; }

h1, h2, h3, h4 {
  font-weight: 600; }

h1 {
  font-size: 230px; }

.header__logo {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
  float: left;
  margin-top: 48px;
  margin-left: 15px; }
  .header__logo a {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.header__nav_menu {
  float: right;
  list-style-type: none;
  margin-right: 15px; }

.header__logo, .carousel__h1, .carousel__learnMore {
  text-transform: uppercase; }

.header__nav_elem {
  display: inline-block;
  position: relative; }

.header__nav_elem a {
  display: block;
  height: 136px;
  padding: 60px 25px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.header__nav_elem > a:hover {
  background-color: #27B8D1; }

.header__nav_elem-active {
  background-color: #27B8D1; }

.header__submenu {
  list-style-type: none;
  position: absolute;
  top: 140px;
  left: -12px;
  display: none; }

.header__nav_subelem a {
  display: block;
  height: 38px;
  padding: 10px;
  text-align: center;
  background-color: #27B8D1;
  white-space: nowrap; }

.header__nav_subelem a:hover {
  color: #B3D6E9; }

.carousel__imgcontainer {
  background: url(../img/bgrd1.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 1080px; }

.carousel__imgcontainer-bgrd2 {
  background: url(../img/bgrd2.jpg) no-repeat center center; }

.carousel__imgcontainer-bgrd3 {
  background: url(../img/bgrd3.jpg) no-repeat center center; }

.carousel__textContainer {
  position: relative;
  top: 300px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.carousel-control {
  width: 40px; }

.carousel__learnMore {
  display: block;
  width: 200px;
  height: 76px;
  background-color: #27B8D1;
  color: #fff;
  line-height: 76px;
  text-align: center;
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.carousel__learnMore:hover {
  color: #000;
  background-color: #FFF;
  text-shadow: none; }

.advantage {
  margin: 140px 0;
  padding: 15px;
  color: #FFF; }

.advantage__wrapper {
  background-color: #27B8D1;
  padding: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.advantage__wrapper:hover {
  background-color: #2B2A28; }

.advantage__number {
  margin: 50px 0;
  display: block;
  width: 120px;
  height: 120px;
  background-color: #FFF;
  color: #27B8D1;
  text-align: center;
  line-height: 120px;
  -webkit-border-radius: 120px;
          border-radius: 120px; }

.advantage__header {
  margin-bottom: 40px; }

.advantage__text {
  line-height: 26px; }

.advantage__moreBtn {
  display: block;
  height: 50px;
  width: 130px;
  background-color: #FFF;
  text-align: center;
  line-height: 50px;
  color: #27B8D1;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 50px 0 90px 0; }

.advantage__moreBtn:hover {
  background-color: #27B8D1;
  color: #fff; }

.example {
  padding: 0;
  position: relative;
  overflow: hidden; }

.example:hover .example__text {
  background-color: #2B2A28;
  color: #fff; }

.example:hover .example__text-bold {
  color: #fff; }

.example__img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  max-width: 100%;
    max-width-height: auto; }

.example:hover .example__img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }

.example__text {
  padding-top: 11%;
  color: #717478;
  background-color: #FFF;
  width: 56%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 22%;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.example__text-bold {
  color: #000;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.bigMenu-wrapper {
  background-color: #27B8D1;
  color: #fff; }

.bigMenu__header {
  margin-top: 200px; }

.bigMenu__img {
  margin: 70px 0 55px 0;
  width: 120px;
  height: 120px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.bigMenu__img:hover {
  -webkit-transform: rotateY(360deg) scale(0.8);
          transform: rotateY(360deg) scale(0.8); }

.bigMenu__textHeader {
  margin-bottom: 20px; }

.bigMenu__text {
  line-height: 26px;
  min-height: 160px; }

.bigMenu__button {
  display: block;
  height: 50px;
  width: 130px;
  background-color: #FFF;
  text-align: center;
  line-height: 50px;
  color: #27B8D1;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 260px; }

.bigMenu__button:hover {
  background-color: #2B2A28;
  color: #27B8D1; }

.fromBlog-wrapper {
  background: url(../img/fromBlog.jpg) no-repeat 50% 0%;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff; }

.fromBlog__header {
  margin: 150px 0 60px 0; }

.fromBlog__textHeader > a {
  color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.fromBlog__textHeader > a:hover {
  color: #27B8D1; }

.fromBlog__hr {
  display: block;
  width: 340px;
  height: 1px;
  background-color: #FFF;
  margin: 30px auto; }

.fromBlog__button {
  display: block;
  height: 50px;
  width: 130px;
  background-color: #27B8D1;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 70px auto 240px; }

.fromBlog__button:hover {
  background-color: #fff;
  color: #000; }

.contacts__mainHeader {
  margin: 110px auto 80px; }

.contacts__header {
  display: block;
  height: 120px;
  width: 120px;
  color: #fff;
  background-color: #27B8D1;
  -webkit-border-radius: 120px;
          border-radius: 120px;
  line-height: 120px;
  text-align: center; }

.contacts__text {
  color: #919497;
  margin: 30px 0 70px;
  line-height: 28px; }

.social__icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0 15px 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.social__icon-google {
  background: url(../img/Google.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.social__icon-google:hover {
  background-image: url(../img/Google-hover.png);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.social__icon-twitter {
  background: url(../img/Twitter.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.social__icon-twitter:hover {
  background-image: url(../img/Twitter-hover.png);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.social__icon-facebook {
  background: url(../img/Facebook.png) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.social__icon-facebook:hover {
  background-image: url(../img/Facebook-hover.png);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.footerText {
  font-size: 0.8em;
  color: #919497;
  text-transform: uppercase;
  margin-bottom: 80px; }

.footerText__link {
  color: #919497;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.footerText__link:hover {
  color: #27B8D1; }

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 10em; }
  .carousel__imgcontainer {
    height: 700px; }
  .example__text {
    padding-top: 10%; } }

@media screen and (max-width: 992px) {
  h2 {
    font-size: 2.5em; }
  .example__text {
    padding-top: 11%;
    width: 80%;
    height: 50%;
    top: 25%;
    left: 10%; } }

@media screen and (max-width: 768px) {
  .carousel__imgcontainer {
    height: 600px; }
  .header__nav_menu {
    display: block; }
  .carousel__textContainer {
    top: 230px; }
  h1 {
    font-size: 8em; }
  h3 {
    font-size: 1.5em; }
  .bigMenu__header {
    text-align: center; }
  .bigMenu__img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .bigMenu__textHeader {
    text-align: center; }
  .bigMenu__text {
    text-align: center; }
  .bigMenu__button, .contacts__header {
    margin-left: auto;
    margin-right: auto; }
  .contacts__text {
    text-align: center; }
  .header__mobile_menu {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    float: right;
    margin-top: 40px;
    margin-right: 15px;
    height: 44px;
    width: 44px;
    background: url("../img/mobile-menu.png") no-repeat 100% 100%;
    -webkit-background-size: cover;
            background-size: cover;
    cursor: pointer; }
  .header__nav_menu {
    margin: 0;
    padding: 15px;
    width: 100%;
    background: rgba(145, 148, 151, 0.95);
    text-align: center;
    display: none; }
  .header__nav_menu-open {
    display: block; }
  .header__nav_elem {
    border-bottom: 1px solid grey;
    width: 100%; }
  .header__nav_elem > a {
    height: 44px;
    padding: 0 15px;
    line-height: 44px; }
  .header__submenu {
    position: static; } }

@media screen and (max-width: 580px) {
  .carousel__imgcontainer {
    height: 500px; }
  .carousel__textContainer {
    top: 160px; }
  h1 {
    font-size: 5em; }
  h3 {
    font-size: 1.4em; }
  .contactForm {
    margin: 0;
    left: 0;
    height: 100%;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .col-xxs {
    width: 100%; }
  .example__text {
    padding-top: 13%; } }
